@tailwind base;
@tailwind components;
@tailwind utilities;



.servicePart {
    padding: 150px 0;
}

.serviceBox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all linear 0.3s;
}