@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: 0;
    }

    li,
    ol,
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        display: inline-block;
    }

    img {
        vertical-align: middle;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    p,
    span,
    img,
    a,
    li,
    ol,
    ul {
        margin: 0;
        padding: 0;
    }
}

.servicePart {
    padding: 150px 0;
}

.serviceBox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all linear 0.3s;
}